{% load static %}


     <!-- Menu lateral -->

    <div id="menu">
        {% if user.is_authenticated %}


        <ul class="navbar-nav">

            <li class="menu-item">
                <a class="nav-link" href="{% url 'dashboard'%}"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            {% if user.is_superuser %}
            <li class="menu-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                    <i class="fa-solid fa-user-group"></i> Usuários
                </a>
                <ul class="menu-item dropdown" aria-labelledby="usuariosDropdown">
                    <li><a class="menu-item dropdown-item" href="{% url 'usuarios'%}"><i class="fa-solid fa-list"></i> Listar usuários</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'cadastro' %}"><i class="fa-solid fa-user-plus"></i> Cadastrar usuário</a></li>
                </ul>
            </li>
            {% endif %}
             <li class="menu-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="empregadosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user-doctor"></i> <i class="fa-solid fa-user-nurse"></i> Empregados
                </a>
                <ul class="menu-item dropdown" aria-labelledby="empregadosDropdown">
                    <li><a class="menu-item dropdown-item" href="{% url 'importacoes_empregados' %}"><i class="fa-solid fa-list"></i> Listar empregados</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'empregados_upload' %}"><i class="fa-solid fa-file-upload"></i> Importar empregados</a></li>
                </ul>
            </li>
             <li class="menu-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="horasExtrasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-upload"></i> <i class="fa-solid fa-microchip"></i> Importar e processar
                </a>
                <ul class="menu-item dropdown" aria-labelledby="horasExtrasDropdown">
                    <li><a class="menu-item dropdown-item" href="{% url 'upload' %}"><i class="fa-solid fa-file-import"></i> Importar solicitação/confirmação</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'inserir_bases' %}"><i class="fa-solid fa-database"></i> Importar bases</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'processar' %}"><i class="fa-solid fa-list-check"></i> Processar horas extras</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'reprocessar' %}"><i class="fa-solid fa-address-card"></i> Reprocessar por matrícula</a></li>
                </ul>
            </li>

             <li class="menu-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="basesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-database"></i> Consultar Bases
                </a>
                <ul class="menu-item dropdown" aria-labelledby="basesDropdown">
                    <li><a class="menu-item dropdown-item" href="{% url 'importacoes' %}"> <i class="fa-solid fa-table-list"></i> Confirmação/Solicitaçao</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'frequencia' %}"><i class="fa-solid fa-business-time"></i> Frequência</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'carga_horaria' %}"><i class="fa-solid fa-user-clock"></i> Carga horária</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'banco_de_horas' %}"><i class="fa-solid fa-clock"></i> Banco de horas</a></li>
                </ul>
            </li>

            <li class="menu-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="basesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars-progress"></i> Pós Cálculo
                </a>
                <ul class="menu-item dropdown" aria-labelledby="basesDropdown">
                    <li><a class="menu-item dropdown-item" href="{% url 'rejeitar_batidas' %}"> <i class="fa-regular fa-calendar-xmark"></i> Rejeitar batidas</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'recalcular_banco' %}"><i class="fa-solid fa-calculator"></i> Recalcular banco</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'recalcular_negativos' %}"><i class="fa-solid fa-user-minus"></i> Recalcular negativos</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'pagamento' %}"><i class="fa-solid fa-file-invoice-dollar"></i> Lançar pagamento</a></li>
                    <li><a class="menu-item dropdown-item" href="{% url 'voltar_batidas' %}"><i class="fa-solid fa-arrow-rotate-left"></i> Voltar batidas</a></li>
                </ul>
            </li>

            <li class="menu-item">
                <a class="menu-item dropdown-item" href="{% url 'relatorios' %}"><i class="fa-regular fa-file-lines"></i> Relatórios</a>
            </li>


        </ul>
        {% endif %}

    </div>


