{% extends 'base2.html' %}
{% load static %}
{% block content %}


{% include 'partials/menu2.html' %}


<div class="escolhe-mes">

<div id="conteudo">
    <h1>Editar usuário</h1>
<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            {% include 'partials/_messages.html' %}
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'salvar_usuario' usuario.id%}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 col-lg-6">
                                <label><b>Nome completo</b></label>
                                <input type="text" class="form-control" name="nome" value="{{ usuario.first_name }} {{ usuario.last_name }}" readonly>
                            </div>
                            <div class="col-6 col-lg-6">
                                <label><b>Usuario</b></label>
                                <input type="text" class="form-control" name="usuario" value="{{ usuario.username }}" readonly>
                            </div>
                            <div class="col-6 col-lg-6">
                                <label><b>E-mail</b></label>
                                <input type="email" class="form-control" name="email" value="{{ usuario.email }}" required>
                            </div>
                            <div class="col-6 col-lg-6">
                                <label><b>Senha</b></label>
                                <input type="password" class="form-control" id="senha" name="senha">
                            </div>
                            {% if user.is_superuser == True %}
                            <div class="col-2 col-lg-2">
                                <label class="vCheckboxLabel"><b>Administrador?</b>
                                <input type="checkbox" class="vCheckboxField" name="adm" {% if usuario.is_superuser == True %} checked {% endif %}>
                                </label>
                            </div>
                            {% endif %}
                        </div>
                            <div class="separa">
                                <div class="col-12 text-center">
                                    <button class="btn_salvar" type="submit"><i class="fa-solid fa-floppy-disk"><br>Salvar</i></button>
                                    <a href="{% url 'usuarios_planilhas' %}">
                                        <button class="btn_deletar" type="button"><i class="fa-solid fa-trash" ><br>Cancelar</i></button>
                                    </a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}