{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="escolhe-mes">

<div id="conteudo-login">
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'partials/_messages.html' %}
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-12">
                            <label for="user"><b>Usuário</b></label>
                                <input type="text" id="user" class="form-control" name="user" placeholder="Entre com o usuário do SIGP">
                            </div>
                                <div class="col-12 col-lg-12">
                                <label for="senha"><b>Senha</b></label>
                                <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-success" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{% endblock %}
