{% extends 'base.html' %}
{% load static %}
{% load convert %}
{% block content %}


{% include 'partials/menu.html' %}

<div class="escolhe-mes">

<div id="conteudo">
    <h1>Empregados</h1>

    {% if files %}
    {% include 'partials/_messages.html' %}
    {% endif %}

    <div class="tabela-transacoes">

            <table>
                <tr class="tr_th">
                    <th>Mês/Ano</th>
                    <th>Data importaçao</th>
                    <th>Usuário</th>
                    <th>Opções</th>
                </tr>
                {% if files %}
                {% for file in files %}
                <form action="{% url 'confirma_deletar' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                            <tr class="par">
                                <td class=td_opcoes>{% if file.mes < 10 %}0{% endif %}{{ file.mes }}/{{ file.ano }}</td>
                                <td class=td_opcoes>{{ file.data_upload|formata_data_hora }}</td>
                                <td class=td_opcoes2>{{ file.importado_por }}</td>
                                <td class="td_opcoes">
                                        <a href="{% url 'empregados' file.id %}">
                                            <button type="button" value="detalhar" name="btn_detalhar" class="btn_detalhar" ><i class="fa-solid fa-eye"><br>detalhar</i></button>
                                        </a>
                                        <button type="submit" value="deletar" name="btn_remover" class="btn_deletar"><i class="fa-solid fa-trash" ><br>excluir</i></button>
                                        <input name="file_id" value="{{ file.id }}" hidden>
                                        <input name="pagina" value="empregados" hidden>

                                </td>
                            </tr>
                    </form>
                {% endfor %}
                {% endif %}
            </table>

        {% if not files %}
                {% include 'partials/_messages.html' %}
        {% endif %}
        </div>

</div>
</div>
{% endblock %}
